*{
  font-family: sans-serif, Helvetica, Arial;
}
.row1 {
  background-image: url("../bootstrap-practice-projects/Assignment_1/assets/backgrounds/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  width: 100%;
}

.card-deck .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .card-deck .card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }
}

.img{
height: 100%;
width: 100%
padding-left: 1%;
padding-right: 1%;
padding-bottom: 1%;}

.row2{
  background-color: rgb(230, 199, 152);
  display: flex;
  flex-direction: column;
}
.row3{
  background-image: url("../bootstrap-practice-projects/Assignment_1/assets/backgrounds/about.jpg");
  color: white;
}
.row5{
  background-color: grey  ;
  color: white;
}
.row6{
  background-color: rgb(71, 70, 70);
  color: white;
}